<div class="container">
    <div class="row" *ngIf="!isSearchCompleted">
        <div class="col-md-4 col-md-offset-4 text-center">
            <div class="input-group">
                <h3>Main Page</h3>
                <form [formGroup]="myForm" novalidate (ngSubmit)="search(myForm.value, myForm.valid)">
                    <input type="text" class="form-control" (keypress)="onlyAlfabet($event)" formControlName="categoryId" placeholder="Exp. Cafe, Bar">
                    <input type="text" class="form-control" formControlName="place" (keypress)="onlyAlfabet($event)" placeholder="Close to me">
                    <!-- <button class="form-control" class="btn btn-primary" type="submit" data-target="#modal" data-toggle="modal">Search</button> -->
                    <button class="form-control" class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="isSearchCompleted">
        <place [Search]="searcher">
            Loading..
        </place>
    </div>
</div>

<div id="modal" *ngIf="isShowModel" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Kategori Boş Geçilemez!</p>
      </div>
    </div>
  </div>
</div>