<div id="detail" class="modal fade" role="dialog">
        <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-body">
                                venueDetail.Location.Lat & venueDetail.Location.Lng
                        </div>
                        <div class="modal-body">
                                <!-- Image -->
                        </div>
                        <div class="modal-body">
                                venueDetail.Name
                        </div>
                        <div class="modal-body">
                                <p *ngFor="let item of venueDetail.TipsGroups[0].Items">item.Text</p>
                        </div>
                </div>
        </div>
</div>